 /* .Gallery {
  width: 90%;
  height: 200px;
} */

.ImgContainer {
  width: 100%;
  height: auto;
}

.Image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
  display: block;
}